.register_form{
  box-sizing: border-box;
  text-align:start;
}

.register_close{
  display: flex;
  justify-content: flex-end;
}
.register_close button{
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.register_form h2{
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: #0068FF;
  font-weight: bold;
  justify-content: space-evenly;
  margin-left: 3rem;
}

.register_info{
  margin: 2rem auto 2rem 3rem;
}
.register_info label{
  display: flex;
  flex-direction: column;
}
.register_info label span{
  font-size: .4rem;
  color: red;
}
.register_info input{
  padding: 0px;
  border: none;
  border-bottom: 1px solid #CFCFCF;
  width: 29rem;
  height: 2rem;
  outline: none;
  font-size: 1.2rem;
  padding-left: 1rem;
}
.register_id_check{
  position: relative;
}
.register_id_check button{
  position: absolute;
  width: 4rem;
  height: 2.5rem;
  top: 0;
  bottom: 0;
  right: 2rem;  
  border-radius: 10px;
  font-size: .7rem;
  color: royalblue;
  background-color: #FFFFFF;
  border: #0068FF solid 1px; 
  cursor: pointer;
}

.register_form form{
  width: 100%;
  margin-bottom: 2rem;
  text-align: center;
}
.register_form form label{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;  
}
.register_form form .agree{   
  width: 1rem;
  height: 1rem;
  font-size: 20pt;
}
.register_form form span{
  font-size: .4rem;
  color: red;
}

.register_btn{
  width: 100%;
  text-align: center;
}
.register_btn button{
  font-size: .8rem;
  width: 25rem; height: 3rem;
  background-color: #FFFFFF;
  color: royalblue;
  border-radius: 1rem;
  border: #0068FF solid 1px;  
  cursor: pointer;
  margin-top: 1rem;
}
.register_btn > .error{
  font-size: .4rem;  
}
.register_btn button:hover{
  font-weight: bold;  
}

@media screen and (max-width: 480px){
  .register_form h2{
    font-size: 2rem;
    line-height: 2.5rem;
    margin-left: 1rem;
  }
  .register_info{
    margin: 1rem;
  }
  .register_info input{
    width: 19rem;
  }
  .register_id_check button{
    right: 1rem;
  }
  .register_form form{
    margin-bottom: 1rem;
  }
  .register_form form label p{
    font-size: .8rem;
  }
  .register_btn button{
    width: 100%;
  }
}

@media screen and (max-width: 360px){
  .register_form h2{
    font-size: 1.5rem;
    line-height: 2rem;
    margin-left: 1rem;
  }
  .register_info label{
    font-size: .8rem;
  } 
  .register_info input{
    width: 15rem;
    font-size: .8rem;
  }
  .register_id_check button{
    right: 0;
    width: 3.5rem;
    height: 2rem;
    font-size: .4rem;
    top: 10px;
  }
  .register_form form{
    margin-bottom: 1rem;
  }
  .register_form form label p{
    font-size: .4rem;
  } 
  .register_btn button{
    margin-top: 0;
    font-size: .6rem;
  } 
}