.goods{
  width: 100%;
}
.goods_category{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto; 
}
.slider-container {
  display: flex;
  overflow: hidden;
  width: 100%; height: 8rem;
  position: relative;
  white-space: nowrap;
  scroll-behavior: smooth; /* Add smooth scrolling */
  scroll-snap-type: x proximity; /* Enable snap-scrolling */
}
.good_category_img{
  width: 7rem; height: 7rem;
  margin-right: 2rem;
  flex-shrink: 0;  
  vertical-align: top;
  position: relative;  
}
.asd{
  position: absolute;
  top: 0; left: 0;
  width: 7rem; height: 7rem;
  opacity: .9;   
  line-height: 7rem;  
  text-align: center;
  display: none;  
  color: blueviolet;
}
.asd h1{
  font-weight: bold;
}
.good_category_img .view_all{
  width: 100%; height: 100%;
  text-align: center;
  line-height: 7rem;
  background: #ddd;
  border-radius: 50%;
  border: 1px solid red;
}
.good_category_img img{
  width: 100%; height: 100%;
  border-radius: 50%;  
}

.slide-button {
  position: absolute;   
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: 1s;
}
.slide-button:hover {
  background: rgba(0, 0, 0, 0.8);
}
.left {
  left: 12%; top: 138%;
}
.right {
  right: 0;
}

/* .good_category_img:hover .asd{
  opacity: .5;
} */




