.hover_container{
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    color: black;

    background-color: beige;
}

.header_hide{
    background-color: bisque;
    height: 50px;
    font-size: 1.2rem;
}

.header_logo a{
    text-decoration: none;
    color: black;
}

.hide_section div{
    cursor: pointer;

    /* Nav 글자 밑이 아닌 박스 밑의 밑줄 */
    width: 6.5rem;
    height: 50px;
    line-height: 50px;
}
.hide_section div:hover, .hide_section a:hover{
    color: gray;
}

.hide_section a{
    text-decoration: none;
    color: black;
}

.choice_show{
    display: block;

    border-top: 1px solid gray;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    /* Nav 글자 밑 밑줄 */
    /* gap: 50px; */
}

.hover_contents{
    display: flex;
    cursor: pointer;
    height: 100px;
    align-items: center;
}
.hover_contents div{
    height: 100px;
    line-height: 100px;
    width: 4rem;
    text-align: center;
    border-bottom: 5px solid transparent;
}
.hover_contents div:hover{
    border-bottom: 5px solid black;
    color: gray;
}